# Coursera - IBM Applied Data Science Capstone

## Week 3 Final Assignment

## <p style="color:red"> Part 2

## Read geospatial data

In [12]:
# Reading the geo file -http://cocl.us/Geospatial_data
url = "http://cocl.us/Geospatial_data"
df_latlong = pd.read_csv(url)
df_latlong.columns = ['Postal Code','Latitude', 'Longitude']
df_latlong

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

## Perform an inner join on two tables

In [13]:
df = pd.merge(df, df_latlong, how='inner', on=["Postal Code"])
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476